{% extends 'base.html' %}
{% block title %}About us{% endblock %}
{% block body %}
<body>
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Sobre nosotros</h2>
                        <div class="bt-option">
                            <a href="{{ url_for('index') }}">Home</a>
                            <span>Sobre nosotros</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- About Us Page Section Begin -->
    <section class="aboutus-page-section spad">
        <div class="container">
            <div class="about-page-text">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ap-title">
                            <h2>Bienvenido a Sona.</h2>
                            <p>Construido en 1910 durante el periodo Belle Epoque, este hotel está situado en el centro de
                                París, con fácil acceso a las atracciones turísticas de la ciudad. Ofrece con buen gusto
                                habitaciones decoradas.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <ul class="ap-services">
                            <li><i class="icon_check"></i> 20% de descuento en alojamiento.</li>
                            <li><i class="icon_check"></i> Desayuno diario de cortesia</li>
                            <li><i class="icon_check"></i> 3 Piezas de lavanderia por dia</li>
                            <li><i class="icon_check"></i> Wifi gratuito.</li>
                            <li><i class="icon_check"></i> Descuento del 20% en F&B</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about-page-services">
                <div class="row">
                    <div class="col-md-4">
                        <div class="ap-service-item set-bg" data-setbg="{{ url_for('static', filename='img/about/about-p1.jpg')}}">
                            <div class="api-text">
                                <h3>Servicios de Restaurantes</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ap-service-item set-bg" data-setbg="{{ url_for('static', filename='img/about/about-p2.jpg')}}">
                            <div class="api-text">
                                <h3>Viajes y acampadas</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ap-service-item set-bg" data-setbg="{{ url_for('static', filename='img/about/about-p3.jpg')}}">
                            <div class="api-text">
                                <h3>Eventos y fiestas</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Page Section End -->

    <!-- Video Section Begin -->
    <section class="video-section set-bg" data-setbg="{{ url_for('static', filename='img/video-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-text">
                        <h2>Descubra nuestro hotel y servicios.</h2>
                        <p>Es temporada de huracanes pero estamos visitando Hilton Head Island</p>
                        <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><img
                                src="{{ url_for('static', filename='img/play.png')}}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Video Section End -->

    <!-- Gallery Section Begin -->
    <section class="gallery-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Nuestra galeria</span>
                        <h2>Descubri nuestro trabajo</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="gallery-item set-bg" data-setbg="{{ url_for('static', filename='img/gallery/gallery-1.jpg') }}">                        
                        <div class="gi-text">
                            <h3>Habitación de lujo</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="gallery-item set-bg" data-setbg="{{ url_for('static', filename='img/gallery/gallery-3.jpg')}}">
                                <div class="gi-text">
                                    <h3>Habitación de lujo</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="gallery-item set-bg" data-setbg="{{ url_for('static', filename='img/gallery/gallery-4.jpg')}}">
                                <div class="gi-text">
                                    <h3>Habitación de lujo</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="gallery-item large-item set-bg" data-setbg="{{ url_for('static', filename='img/gallery/gallery-2.jpg')}}">
                        <div class="gi-text">
                            <h3>Habitación de lujo</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Section End -->
</body>
{% endblock %}