<footer class="footer-section">
    <div class="container">
        <div class="footer-text">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ft-about">
                        <p style="font-size: 40px; font-family: 'Lora';">FIAM</p>
                        <p>Aguante FIUBA</p>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="ft-contact">
                        <h6>Contact Us</h6>
                        <ul>
                            <li>(un) numero</li>
                            <li>nuestro.correo@fi.uba.ar</li>
                            <li>Paseo Colon 850, CABA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
