<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
    <i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
    <nav class="mainmenu mobile-menu">
        <ul>
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="#hotel-section">Hotels</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
            {% if 'usuario' in session %}
            <li><a href="{{ url_for('reservas') }}" class="my-reservations-mobile">My Reservations</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}" class="login">Login</a>
                <ul class="dropdown">
                    <li><a href="{{ url_for('registrarse') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>

    </div>
</div>
<header class="header-section">
    <div class="menu-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="{{ url_for('index') }}">
                            <img src="{{ url_for('static', filename='/img/logo') }}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <nav class="mainmenu">
                            <ul>
                                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                                <li><a href="#hotel-section">Hoteles</a></li>
                                <li><a href="{{ url_for('about') }}">About Us</a></li>
                                {% if 'usuario' in session %}
                                    <li><a href="{{ url_for('reservas') }}" class="my-reservations">My Reservations</a></li>
                                    <li><a href="{{ url_for('logout') }}" class="login">Logout</a></li>
                                    {% else %}
                                    <li><a href="{{ url_for('login') }}" class="login">Login</a>
                                        <ul class="dropdown">
                                            <li><a href="{{ url_for('registrarse') }}">Register</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>