{% extends "base.html" %}

{% block title %}{{ hotel[0]['nombre'] }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}

{% block content %}
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text" id="hotel-section">
                        <h2>{{ hotel[0]['nombre'] }}</h2>
                        <div class="bt-option">
                            <a href="{{ url_for('index') }}">Home</a>
                            <span>{{ hotel[0]['nombre'] }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="room-details-section spad">
        <div class="container" style="max-width: 1300px;">
            <div class="row">
                <div class="col-lg-6">
                    <div class="room-details-item">
                        <img src="{{ url_for('static', filename=hotel[0]['imagen']) }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="room-details-item">
                        <div class="rd-text">
                            <div class="rd-title">
                                <h3>{{ hotel[0]['nombre'] }} Hotel</h3>
                            </div>
                            <p>{{ hotel[0]['descripcion'] }}</p>
                            <table>
                                <tbody>
                                    <tr><td class="r-o"">Location:</td><td class="r-d">{{ hotel[0]['ubicacion'] }}</td></tr>
                                    <tr><td class="r-o"">Stars:</td><td class="r-d">{{ hotel[0]['estrellas'] }}</td></tr>
                                    <tr><td class="r-o"">Services:</td>
                                        <td class="r-d">
                                            {% for servicio in servicios %}
                                                {{ servicio['nombre'] }} <br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class='hotel-description'>
        <ul>
            <li>Rooms for 2 to 4 people</li>
            <li>We offer <span style="font-weight: bolder;">breakfast</span> and <span style="font-weight: bolder;">covered parking</span></li>
            <li>We have a rooftop for our guests to enjoy</li>
            <li>We provide transfer services and luggage storage</li>
            <li>Smoke-free hotel</li>
        </ul>
    </div>
    <div id="map" style="height: 500px; width: 100%;"></div>


{% endblock %}

{% block scripts %}
    <script>
        const hotel = {{ hotel | tojson }};
        console.log(hotel);

        const map = L.map('map').setView([hotel[0].latitud, hotel[0].longitud], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        hotel.forEach(location => {
            L.marker([location.latitud, location.longitud])
                .addTo(map)
                .bindPopup(location.name);
        });

    </script>
{% endblock %}