{% extends 'base.html' %}
{% block title %}FIAM Hotels{% endblock %}
{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>FIAM Hotels</h1>
                        <p>Here are the best hotel booking sites, including recommendations for international travel and for finding low-priced hotel rooms.</p>
                        <a href="#" class="primary-btn-white">Discover Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Booking Your Hotel</h3>
                        <form action="{{ url_for('index') }}" method="post" id="formulario">
                            <div class="select-option">
                                <label for="hotel">Hotel:</label>
                                <select id="hotel" name="hotel">
                                    {% for hotel in hoteles %}
                                        <option value="{{ hotel['id'] }}">{{ hotel['nombre'] }}</option>
                                    {% endfor %}    
                                </select>
                            </div>
                            <div class="check-date">
                                <i class="icon_calendar"></i>
                                <label for="fecha_entrada">Check In:</label>
                                <input type="date" id="fecha_entrada" name="fecha_entrada" min="" readonly required>
                            </div>
                            <div class="check-date">
                                <i class="icon_calendar"></i>
                                <label for="fecha_salida">Check Out:</label>
                                <input type="date" id="fecha_salida" name="fecha_salida" min=""  readonly required>
                            </div>
                            {% with messages = get_flashed_messages(with_categories=True) %}
                                {% if messages %}
                                    <ul class="flash-messages">
                                        {% for category, message in messages %}
                                            <li class="flash-{{ category }}">{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                            <button type="submit">Check Availability</button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/hero/hero-1.jpg') }}"></div>
            <div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/hero/hero-2.jpg') }}"></div>
            <div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/hero/hero-3.jpg') }}"></div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>Intercontinental LA <br />Westlake Hotel</h2>
                        </div>
                        <p class="f-para">Sona.com is a leading online accommodation site. We’re passionate about
                            travel. Every day, we inspire and reach millions of travelers across 90 local websites in 41
                            languages.</p>
                        <p class="s-para">So when it comes to booking the perfect hotel, vacation rental, resort,
                            apartment, guest house, or tree house, we’ve got you covered.</p>
                        <a href="#" class="primary-btn-black about-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{{ url_for('static', filename='img/about/about-1.jpg') }}" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="{{ url_for('static', filename='img/about/about-2.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->
         
    <!-- Home Room Section Begin -->
    <section class="hp-room-section" id="hotel-section">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    {% for hotel in hoteles %}
                        <div class="col-lg-3 col-md-6" style="margin-bottom: 15px;">
                            <div class="hp-room-item set-bg" data-setbg="{{ url_for('static', filename='img/room/room-b1.jpg') }}">
                                <div class="more-details-btn more-details-hotels">
                                    <h2 class="hotel-name">{{ hotel['nombre'] }}</h2>
                                    <a href="{{ url_for('hotel_details', id = hotel['id'], nombre = hotel['nombre']) }}" class="primary-btn-white">More Details</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Home Room Section End -->

    <!-- Services Section End -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>What We Do</span>
                        <h2>Discover Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for servicio in servicios %}
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="{{ servicio['imagen'] }}"></i>
                        <h4>{{ servicio['nombre'] }}</h4>
                        <p>{{ servicio['descripcion'] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Services Section End -->
     
    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonials</span>
                        <h2>What Customers Say?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        {% for testimonio in testimonios %}
                            <div class="ts-item">
                                <p>{{ testimonio['resena'] }}</p>
                                <div class="ti-author">
                                    <div class="rating">
                                        {% for i in range(0, testimonio['estrellas']) %}    
                                            <i class="icon_star"></i>
                                        {% endfor %}
                                    </div>
                                    <h5> - {{ testimonio['nombre'] }}</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->
{% endblock %}
{% block scripts %}
    <script>
        const inputsFecha = document.querySelectorAll('input[type="date"]');
        const hoy = new Date().toISOString().split("T")[0]
        inputsFecha.forEach((input) => {
            input.min = hoy
            input.addEventListener("keydown", (e) => {
                e.preventDefault();
            });

            input.addEventListener("click", () => {
                input.readOnly = false;
                input.showPicker();
                input.readOnly = true;
            });
        });

        const formulario = document.getElementById("formulario");
        const fechaEntrada = document.getElementById("fecha_entrada");
        const fechaSalida = document.getElementById("fecha_salida");

        fechaEntrada.addEventListener("change", () => {
            if (fechaEntrada.value) {
                const entradaDate = new Date(fechaEntrada.value);
                const manana = new Date(entradaDate);
                manana.setDate(entradaDate.getDate() + 1); 
                fechaSalida.min = manana.toISOString().split("T")[0];
            } else {
                fechaSalida.min = hoy;
            }
        });
    </script>
{% endblock %}