{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero-section d-flex flex-column h-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>Sona A Luxury Hotel</h1>
                        <p>Here are the best hotel booking sites, including recommendations for international
                            travel and for finding low-priced hotel rooms.</p>
                        <a href="#" class="primary-btn">Discover Now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Login</h3>
                        <form action="#">
                            <div class="check-date">
                                <label for="date-in">Mail:</label>
                                <input type="text" class="mail-input" id="date-in">
                                <i class="icon_mail"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Password:</label>
                                <input type="text" class="date-input" id="date-out">
                                <i class="icon_eye"></i>
                            </div>
                            <button type="submit">login</button>
                            <div class="d-flex align-items-center justify-content-center ">
                                <a href="{{ url_for('registrarse') }}">Registrarse</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/hero/hero-1.jpg') }}"></div>
            <div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/hero/hero-2.jpg') }}"></div>
            <div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/hero/hero-3.jpg') }}"></div>
        </div>
    </section>
{% endblock %}