{% extends 'base.html' %}
{% block title %}Reserva{% endblock %}
{% block body %}
<body>
    <!-- Hero Section Begin -->
    <section class="hero-section h-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>Sona Un hotel de lujo</h1>
                        <p>Aca podras encontrar las mejores reservas de hoteles,incluyendo recomendaciones para viajes 
                            internacionales y para encontrar habitaciones a un muy bajo precio.</p>
                        <a href="#" class="primary-btn">Descubri ahora</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Busqueda de Reserva</h3>
                        <form action="#">
                            <div class="check-date">
                                <label for="date-in">Codigo:</label>
                                <input type="text" class="mail-input" id="date-in">
                                <i class=""></i>
                            </div>
                            <button type="submit">BUSCAR</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/hero/hero-1.jpg')}}"></div>
            <div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/hero/hero-2.jpg')}}"></div>
            <div class="hs-item set-bg" data-setbg="{{ url_for('static', filename='img/hero/hero-3.jpg')}}"></div>
        </div>
    </section>
    <!-- Hero Section End -->
</body>
{% endblock %}