{% extends "base.html" %}

{% block title %}Habitaciones{% endblock %}

{% block content %}
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Nuestras Habitaciones</h2>
                    <div class="bt-option">
                        <a href="{{ url_for('index') }}">Home</a>
                        <span>Habitaciones</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="rooms-section spad">
    <div class="container">
        <div class="row">
            {% for room in rooms %}
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="{{ url_for('static', filename=room.image) }}" alt="">
                    <div class="ri-text">
                        <h4>{{ room.name }}</h4>
                        <h3>{{ room.price }}$<span>/Pernight</span></h3>
                        <table>
                            <tbody>
                                <tr><td class="r-o">Size:</td><td>{{ room.size }}</td></tr>
                                <tr><td class="r-o">Capacity:</td><td>{{ room.capacity }}</td></tr>
                                <tr><td class="r-o">Bed:</td><td>{{ room.bed }}</td></tr>
                                <tr><td class="r-o">Services:</td><td>{{ room.services }}</td></tr>
                            </tbody>
                        </table>
                        <a href="{{ url_for('room_details', room_id=room.id) }}" class="primary-btn">More Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
